body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.site-container {
  padding: 0 8px;
}

.flex {
  display: flex;
}

.center {
  position: absolute;
  left: 48vw;
}

.altcarousel {
  margin-top: -14px;
  margin-bottom: 15px;
}

.featured {
  display: flex;
  justify-content: space-around;
}

.all-products {
  justify-content: space-around;
  flex-wrap: wrap;
}

#singleProductContainer h1{
  text-align: center;
}

.singleProductflex {
  display: flex;
  justify-content: center;
}

.singleProductflex div{
  flex-basis: 40%;
  height: 400px;
}

.singleProductflex div img{
  height: 100%;
}

.productInfo{
  display: flex;
  flex-direction: column;
}

.productButton {
  height: 50px;
  align-self: flex-end;
}

.cart {
  justify-content: space-between;
  align-items: center;
}

.cart a {
  font-size: 2em;
}

.cart img {
  max-height: 100px;
  width: auto;
  margin-left: 15px;
}

.cart-price {
  font-size: 1.5em;
}

.cart-quantity {
  margin-right: 15px;
  text-align: center;
  font-size: 1.5em;
  flex-direction: column;
  justify-content: space-around;
}

.cart-quantity span {
  font-weight: 700;
}

.cart-quantity ui {
  padding-top:10px;
}

.total {
  margin: 10px;
}

.order-detail-button {
  align-self: flex-end;
  height: 30px;
}

.order-product {
  padding: auto 10px;
  margin-top: 0px;
}

.order-product button {
  height: 60%;
  align-self: center;
}
