body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.flex {
  display: flex;
}

.flex .search {
  flex-basis: 50%;
}
.flex .select {
  flex-basis: 50%;
}

