body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* .site-container {
  padding: 0 8px;
} */

.flex {
  display: flex;
}

.bold {
  font-weight: 700;
}

.center {
  position: absolute;
  left: 48vw;
}

.altcarousel {
  margin-top: -14px;
  margin-bottom: 15px;
}

.featured {
  display: flex;
  justify-content: space-around;
}

.all-products {
  justify-content: space-around;
  flex-wrap: wrap;
}

#singleProductContainer h1{
  text-align: center;
}

.singleProductflex {
  display: flex;
  justify-content: center;
}

.singleProductflex div{
  flex-basis: 40%;
  height: 400px;
}

.singleProductflex div img{
  height: 100%;
}

.productInfo{
  display: flex;
  flex-direction: column;
}

.productButton {
  height: 50px;
  align-self: flex-end;
}

.cart {
  justify-content: space-between;
  align-items: center;
}

.cart a {
  font-size: 2em;
}

.cart img {
  max-height: 100px;
  width: auto;
  margin-left: 15px;
}

.cart-price {
  font-size: 1.5em;
}

.cart-quantity {
  margin-right: 15px;
  text-align: center;
  font-size: 1.5em;
  flex-direction: column;
  justify-content: space-around;
}

.cart-quantity span {
  font-weight: 700;
}

.cart-quantity ui {
  padding-top:10px;
}

.total {
  margin: 10px;
}

.order-detail-button {
  align-self: flex-end;
  height: 30px;
}

.order-product {
  padding: auto 10px;
  margin-top: 0px;
}

.order-product button {
  height: 60%;
  align-self: center;
}

.form-field {
  width: 51vw
}

.form-button {
  display: block;
  position: relative;
}

#formContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: url("https://c.pxhere.com/photos/55/a3/audience_band_concert_crowd_fans_festival_hands_lights-915242.jpg!d") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#authForm {
  width: 50vw;
  height: 50vh;
  margin: auto;
  background: rgba(152, 230, 230, 0.221);
}

#form-inputs {
  width: 95%;
  display: flex;
  flex-direction: column;
}

.inputs {
  width: 80%;
  align-self: center;
}

.inputs input{
  width: 100%;
  height: 3em;
}

#authImage{
  display: flex;
}

#authImage img{
  margin: auto;
}

.footer {
  margin-top: 0.5em;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  color: white;
}

.footer #company-info {
  margin: 0.25em;
  font-size: 1.75em;
}

.footer #socials {
  margin: 0.25em;
  font-size: 1.75em;
}

#socials a {
  color: white;
}
