body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.flex {
  display: flex;
}

.center {
  position: absolute;
  left: 48vw;
}

.altcarousel {
  margin-top: -14px;
  margin-bottom: 15px;
}

.featured {
  display: flex;
  justify-content: space-around;
}

.all-products {
  justify-content: space-around;
  flex-wrap: wrap;
}




